<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation" class="border-red-400 p-4 rounded border bg-red-100 mb-6"><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
      <ul class="text-sm mt-2 text-red-500 pl-4">
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="my-5">
    <%= form.label :title, class: "font-extrabold font-nunito" %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :body, class: "font-extrabold font-nunito" %>
    <%= form.text_area :body, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :url, class: "font-extrabold font-nunito" %>
    <%= form.text_field :url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :submission_image, class: "font-extrabold font-nunito" %>
    <%= form.file_field :submission_image, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 ">
    <%= form.label :submission_video, class: "font-extrabold font-nunito" %>
    <%= form.file_field :submission_video, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-yellow-300 text-black inline-block cursor-pointer font-extrabold font-nunito" %>
  </div>
<% end %>
