<div id="<%= dom_id submission %>">
  <p class="my-5">
    <strong class="block font-bold font-nunito mb-1">Title:</strong>
    <%= submission.title %>
  </p>

  <p class="my-5">
    <strong class="block font-bold font-nunito mb-1">Body:</strong>
    <%= submission.body %>
  </p>

  <p class="my-5">
    <strong class="block font-bold font-nunito mb-1">Url:</strong>
    <%= submission.url %>
  </p>

  <p class="my-5">
    <strong class="block font-bold font-nunito mb-1">Submission Image:</strong>
    <% if submission.submission_image_url %>
      <%= image_tag submission.submission_image_url, width: 400 %>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-bold font-nunito mb-1">Submission Video:</strong>
    <%#= submission.submission_video %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this submission", submission, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-extrabold font-nunito" %>
    <%= link_to 'Edit this submission', edit_submission_path(submission), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-extrabold font-nunito" %>
    <hr class="mt-6">
  <% end %>
</div>
